.footer {
  margin-top: 4rem;
  margin-left:  auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.75rem;
  /* height: 4rem; */
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.fa-circle{
  color: white;
}

.fa-github {
  color: #202020;
}

.fa-twitter {
  color: #202020;
}

.fa-envelope {
  color: #202020;
}

.fa-linkedin {
  color: #202020;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  opacity: 1;
}


/* vault demo */

:root {
  --border-color: rgba(0, 0, 0, 1);
  --border-width: 2px;
  --margin-top-bottom: 20px;

  --max-width-vault: 400px;
  --padding-top-vault: 164.5%;
  --padding-top-hood: 83.33%;

  --padding-top-vault-full-page: 663px;
  --frame-height-vault-full-page: 662.4px;
}

.resp-div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-top-bottom);
  margin-bottom: var(--margin-top-bottom);
  overflow: hidden;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: var(--border-width);
  border-color: var(--border-color);
}

.vault {
  padding-top: var(--padding-top-vault);
}

.hood {
  padding-top: var(--padding-top-hood);
}

/* full page specific settings with max-width to avoid too big element on screen */

.full-page-div-vault {
  max-width: var(--max-width-vault);
  padding-top: var(--padding-top-vault);
}

/* Tuned by eyes */
@media screen and (min-width: 446px) {

  .full-page-div-vault {
    padding-top: var(--padding-top-vault-full-page);
  }

  .full-page-iframe-vault {
    height: var(--frame-height-vault-full-page);
  }
}

.embed-responsive-vault::before {
  padding-top: 166.67%;
}

.embed-responsive-hood::before {
  padding-top: 83.33%;
}
