{% macro thumbnail(id, image, content, page, button) %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="thumbnail">

    <a href="{{ page }}" class="thumbnail">
      <img src="{{ image }}">
    </a>

    <div class="caption">

      <div id="{{ id }}"></div>

      <script>
      $( "#{{ id }}" ).load( "{{ content }}");
      </script>

      <a class="btn btn-primary" href="{{ page }}">{{ button }}<span class="glyphicon glyphicon-chevron-right"></span></a>
      </p>

    </div>

  </div>
</div>

{% endmacro %}
