{% import "macros.html" as macros %}

<div class=project>
  <div class="container">
    <div class="row">

    {% for t in thumbnails %}

    {{ macros.thumbnail(loop.index, t.image, t.content, t.page, t.button) }}

        {% if loop.index is divisibleby 2 %}
          <div class="clearfix visible-sm"></div>
        {% endif %}
        {% if loop.index is divisibleby 3 %}
          <div class="clearfix visible-md"></div>
        {% endif %}
       {% if loop.index is divisibleby 4 %}
          <div class="clearfix visible-lg"></div>
        {% endif %}

    {% endfor %}

    </div>
  </div>
</div>
