/* shifht due to navbar */
body {
  padding-top: 70px;
}

.project .thumbnail img {
    width: 250px;
    height: 250px;
}

.project .thumbnail .thumbnail {
  border: 0;
}

.project .thumbnail .caption {
  padding-top: 0;
}
