/* navbar */
.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

body {
  padding-top: 80px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* Pannel */
.panel-primary .panel-body {
  background: #CEE3F6; /* light blue */
}

.panel-success .panel-body {
  background: #E6F8E0; /* light green */
}

.panel-heading a:hover {
    color: inherit;
}

/* Isotope */
.filters-button-group {
  padding-bottom: 20px
}

.grid-item {
  width: 250px;
  margin-bottom: 10px;
}

.grid-item--width2 {
  width: 500px;
  margin-bottom: 10px;
}

.thumbnail .thumbnail {
  border: 0;
  padding-bottom: 0;
}

.thumbnail .caption {
  padding-top: 0;
}


.media-item {
  width: 225px;
  margin-bottom: 5px;
}

.media-item--width2 {
  width: 450px;
  margin-bottom: 5px;
}

.media-item img {
  width: 225px;
}

.media-item--width2 img {
  width: 450px;
}

/* Footer */
html {
  position: relative;
  min-height: 100%;
}
body {
   /*Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  text-align: center;
  margin-bottom: 2;
  color: #777;
}


/*.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}*/
